@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* Variáveis */
:root {
    --cor-principal: #EB4DC1;
    --cor-secundaria-transparente: #ee96d6ce;
    --cor-contraste: #2B9E15;
    --cor-texto: #fff;
    --cor-fundo: #F65345;
}


/* Barra de Navegação Responsiva */

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--cor-principal);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }
}


body {
    text-align: center;
    background-color: #f5dfec;           
}

h1, h2, h3, h4 {
    font-weight: inherit;
    color: #EB4DC1;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

#corpo {
    margin: 50px 150px;
}

#formulario {
    text-align: left;
    margin:auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
}

#formulario .flex_direita {
    display: flex;
    float: right;
    flex-direction: column;
    flex: 1;
}

#formulario .flex_esquerda {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#formulario label {
    line-height: 30px;
    text-align:left;
    color:#EB4DC1;
}

#formulario input {
    padding: 9px;
    border: 1px solid #CCCCCC;
    background: #E8EFE4;
    border-radius: 4px;
    color:#6b666a;
}

#formulario select {
    padding: 9px;
    border: 1px solid #CCCCCC;
    background: #E8EFE4;
    border-radius: 4px;
    color:#EB4DC1;
}

#formulario .botao {
    cursor: pointer;
    text-align: left;
    margin: 0 0 0 0;
    color: #FFF;
    background-color: #EB4DC1;
}

#formulario .botao:hover {
    background-color: #EB4DC1;
}

#copy {
    color: #EB4DC1;
    text-align: center;
    margin: 50px 150px;
}  

p {
    color: #EB4DC1; 
}