@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Variáveis */
:root {
    --cor-principal: #EB4DC1;
    --cor-secundaria-transparente: #ee96d6ce;
    --cor-contraste: #2B9E15;
    --cor-texto: #fff;
    --cor-fundo: #F65345;
    --cor-sombra: rgba(12, 12, 12, 0.301);
}


/* Barra de Navegação Responsiva */

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--cor-principal);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: 0 5px 5px var(--cor-sombra);
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: var(--cor-principal);
    background: #fff;
}

nav .menu-btn i {
    
    font-size: 22px;
    cursor: pointer;
    display: none;
}


/* Responsividade de Conteúdo */

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 88vh;    
}

.principal { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../img/FundoPrincipal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    color:#fff;   
    position: relative;
    height: 85vh;
    align-content: center;
    width: 100%;
}

.principal section {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    text-align: center;
    border-radius: 10px;
    font-size: larger;
    width: 80%;
    height: 12em;
    margin: auto;
    position: relative;
    background-color: var(--cor-secundaria-transparente);
    box-shadow: 0px 0px 5px 5px var(--cor-sombra);
    
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    height: 100%;
    width: 20%;
    border-radius: 5px;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: bold;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
}

.btn a:hover {
    background-color: var(--cor-texto);
    color: var(--cor-principal);
    transition: 0.5s;

}

#city-choice{
    background: #f5dfec;
    width: 75%;
    height: 100%; 
    outline: none;
    border-radius: 5px;
    transition: 0.5s;
    padding: 1%;
    font-size: large;
    font-weight: normal;
    border: none;
}

.city-choice option{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.select-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30%;
    padding: 0.5%;
}

footer {
    display: flex;
    color: var(--cor-texto);
    position: relative;
    width: 100%;
    height: 2.5rem;
    background-color: var(--cor-principal);
    font-size: larger;
    font-weight: normal;
    align-items: center;
    justify-content: center;
}       