@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Variáveis */
:root {
    --cor-principal: #EB4DC1;
    --cor-secundaria-transparente: #ee96d6ce;
    --cor-contraste: #2B9E15;
    --cor-texto: rgb(248, 245, 245);
    --cor-fundo: #F65345;
    --cor-fundo-post: #2C9E9E;
    --cor-titulo-post: #36EBEB;
    --cor-fundo-tela: #fddcf4;
    --cor-postBox: #4292EB;
    --cor-sombra: rgba(12, 12, 12, 0.301);
}

body {
    background-color: var(--cor-fundo-tela);
}

/* Barra de Navegação Responsiva */

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: var(--cor-principal);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    
}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: var(--cor-principal);
    background: #fff;
}

nav .menu-btn i {
    
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 5vh;
    height: min-content;
    
}

.primeiroBloco {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    row-gap: 5vh;
    height: max-content;
}

.ajuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    row-gap: 5vh;
    height: 30vh;

}

.ajuda section {
    color: var(--cor-texto);
    top: 5vh;
    width: 100%;
    box-shadow: 5px 5px 10px var(--cor-sombra);
    text-align: center; 
    border-radius: 10px;
    font-size: larger;
    background-color: #ee96d6ce;
    font-size: 1.5em;
}

.inscreverBtn {
    display: flex;
    color: white;
    background-color: #EB4DC1;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 10vh;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: xx-large;
    transition: 0.5s;
    box-shadow: 3px 3px 10px var(--cor-sombra);    

}  

.inscreverBtn:hover {
    background-color: var(--cor-fundo);
    transition: 0.5s;
}


.listarCidade {
    color: white;
}

.aviso section {
    text-align: center; 
    color: white;
    border-radius: 10px;
    font-size: larger;
    background-color: #ee96d6ce;
    font-size: 1.5em;
    box-shadow: 3px 5px 10px var(--cor-sombra);
}

h1 {
    color:#EB4DC1;
    font-size: 4em;
    text-align: center;
}

/*Formulário Postagem*/
.feedDiv {
    background-color: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}


.postBox {
    display: flex;
    background-color: var(--cor-postBox);
    width: 50%;
    height: 100vh;
    position: relative;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    align-items: flex-start;
    box-shadow: 0px 3px  10px 10px var(--cor-sombra);
    
}

.postBox form {
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    
     
    
}

.postTitle {
    background-color: none;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1%;
    
}

.postTitle label {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 1%;
    font-weight: 700;
    font-size: large;
}

.postTitle i {
    text-transform: uppercase;
}

.postDescription {
    background-color: var(--cor-fundo-tela);
    height: 80%;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    
}

.text-area {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: flex-start;
    padding: 1%;
    
}

.text-area textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 5px;
    padding: 1%;
    font-size: 100%;
    overflow: hidden;
    border: 3px solid var(--cor-postBox);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none;
    height: 6vh;
}

.text-area textarea:focus {
    border: 3px solid var(--cor-fundo-post);
}

.contato-input {
    width: 100%;
    height: 30%;
    padding: 1%;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.contato-input textarea {
    height: 25%;
    resize: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 1%;
    font-size: 100%;
    overflow: hidden;
    border: 3px solid var(--cor-postBox);
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    height: 6vh;
}

.contato-input textarea:focus {
    border: 3px solid var(--cor-fundo-post);
}

.img-input {
    display: flex;
    height: 10%;
    padding: 1%;
    justify-content: center;
    align-items: flex-end;
}

.img-input label {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 700;
    margin-left: 1%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-input input {
    display: none;
    
}

.img-input i {
    cursor: pointer;
    
}

.img-input i:hover {
    opacity: 0.6;
}

.postSubmit {
    background-color: none;
    height: 10%;
    width: 100%;
    padding: 1%;

}

.file-preview {
    width: 100%;
    min-height: 50%;
    border: 2px solid gray;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: gray;
    position: relative;
    bottom: 0;
    top: 0;
    border-radius: 5px;
}

.file-preview img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.file-preview video {
    display: none;
    flex-shrink: 0;
    min-width: 100% !important;
    min-height: 100% !important;

}



.videoPreview {
    width: 100%;
    height: 100%;
}

.postSubmit {
    display: flex;
    justify-content: center;
}

.postSubmit button {
    width: 50%;
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    text-decoration: none;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: larger;
    font-weight: 700;
}

.postSubmit button:hover {
    background-color: var(--cor-fundo);
    transition: 0.5s;
}

/*Modelo de Caixa de Postagem*/

.postsUl {
    display: flex;
    background-color: #fff;
    width: 70%;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}

.post {
    background-color: var(--cor-fundo-post);
    width: 60%;
    list-style: none;
    
}

.postModelTitle {
    display: flex;
    background-color: var(--cor-titulo-post);
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.file-post  {
    justify-content: center;
    display: flex;
    width: 100%;
    background-position: center;
    background-size: cover;

}

.imagePost {
    width: 100%;
    max-height: 80vh;
}


.videoUpload {
    width: 100%;
    display: none;
}

