body{
    font-size: xx-large;
    font: Arial;
}

.Doar{
    position: relative;
    left: 500px;
    top: 20px;
}

.FotosVideos, .SentimentosAtividade, .Publicar{
    margin: 20px;
}

.FotosVideos{
    position: fixed;
    top: 80px;
}

.SentimentosAtividade{
    position: fixed;
    top: 250px;
}

.Publicar{
    position: fixed;
    top: 420px;
}